<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="product1">
            <div class="primg"><img src="/fashion-store/public/partywear1.jpg" alt=""></div>
            <div class="text">
                <div class="description">hello</div>
                <div class="price"></div>
            </div>
        </div>
        <div class="product2">
            <div class="primg"></div>
            <div class="text">
                <div class="description"></div>
                <div class="price"></div>
            </div>
        </div>
        <div class="product3">
            <div class="primg"></div>
            <div class="text">
                <div class="description"></div>
                <div class="price"></div>
            </div>
        </div>
        <div class="product4">
            <div class="primg"></div>
            <div class="text">
                <div class="description"></div>
                <div class="price"></div>
            </div>
        </div>
    </div>
</body>
</html>