body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    
}

h2 {
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 150px; 
    height: 150px; 
    object-fit: contain; 
    border-radius: 5px;
    background-color: #f8f8f8; 
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
} 